header{
    background: rgb(159,94,44);
    background: linear-gradient(90deg, rgba(159,94,44,0.9867297260701156) 0%, rgba(121,89,9,1) 48%, rgba(255,192,0,1) 100%);
}

main{
    display: flex;
    
}

#emojiContainer{
    display: none;
    position: relative;
    height: 50px;
    width: 160px;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    flex-wrap: wrap;

}

#gifContainer{
    display: none;
    position: relative;
    height: 200px;
    width: 400px;
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    flex-wrap: wrap;
    overflow-y: scroll;
}

#viewArea{
    display: flex;
    flex-wrap: wrap;
    overflow-y: scroll;
    width: 70vw;
}

.stickyNote{
    background-color: burlywood;
    width: 15vw;
    margin: 10px;
    padding: 20px 30px;
}

.emoji {
    width: 2vw;
    height: 4vh;
    cursor: pointer;
    margin-bottom: 10px;
}

.gif{
    height: auto;
    width: 40vw;
    max-width: 191px;
    cursor: pointer;
}

textarea {
    height: 200px;
}

div.form-group {
    background-color: rgb(214, 214, 214);
}